:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*  */

/* ===============HEADER=============== */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navigation {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}
.Studio {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #000000;
}
.Studio-white {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.blueWeb {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-link.current {
  color: var(--accent-color);
}
.tel-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.mail-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.navigation-list {
  margin-left: auto;
}
.navigation-nav {
  margin-right: 50px;
}
/* ===============END HEADER=============== */

/* ===============HERO=============== */
.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.hero-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87px;
  position: absolute;
  /* identical to box height, or 187% */

  /* position: absolute; */
  min-width: 200px;
  padding: 10px 32px;
  height: 50px;
  left: 700px;
  top: 430px;

  color: rgba(255, 255, 255, 1);

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-modal-btn:hover,
.hero-modal-btn:focus {
  /* position: absolute; */
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/* ===============END HERO=============== */

/* ===============OCCUPATION=============== */
.feature {
  display: flex;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-head {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.feature-head:not(:last-child) {
  margin-right: 30px;
}
.suptitle-text {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-transform: none;
  color: #757575;
}
/* ===============END OCCUPATION=============== */

/* ===============STUDY-SECTION=============== */
.study-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.study {
  display: flex;
  position: absolute;
  margin: 0 auto;
  left: 612px;
  top: 969px;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.list {
  display: flex;
  align-items: center;
  /* padding-top: 50px; */
}
.box:not(:last-child) {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
}
/* ===============END STUDY-SECTION=============== */

/* ===============STUDY-TEAM=============== */
.team-section {
  display: flex;
  align-items: center;
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}
.study-team {
  margin-top: 94px;
  margin-bottom: 512px;
  display: flex;
  position: absolute;
  margin: 0 auto;
  left: 612px;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-list {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 94px;
  margin-left: -30px;
  margin-top: -30px;
}
.team {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
/* ===============END STUDY-TEAM=============== */

/* ===============FOOTER=============== */
.footer {
  display: flex;
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.address {
  font-family: "Raleway", sans-serif;
  position: absolute;
  height: 81px;
  left: 215px;
}
.navigation-address {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
}
.navigation-address-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.navigation-address-link:hover,
.navigation-address-link:focus {
  color: var(--accent-color);
}
.address-link-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navigation-link-nav {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}
.navigation-link-nav:hover,
.navigation-link-nav:focus {
  color: var(--accent-color);
}
.tel-link-nav {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link-nav:hover,
.tel-link-nav:focus {
  color: var(--accent-color);
}

/* ===============END FOOTER=============== */

/* ===============PORTFOLIO=============== */
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  /* identical to box height, or 187% */
  /* position: absolute; */
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  /* position: absolute; */
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;

  background: var(--accent-color);
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.name-link {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.suptitle-text-prg {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 87;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
/* ===============END PORTFOLIO=============== */
